@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <NavLink class="ml-md-auto" href="sign-in">
            Sign In
        </NavLink>
        <NavLink class="ml-4 btn btn-md btn-primary" href="sign-up">
            Sign Up
        </NavLink>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
