@page "/"

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="bd-placeholder-img carousel-first-image h-100"></div>
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>Welcome to AutoParts!</h1>
                    <p>AutoParts - best service for finding auto parts for your car. It's really easy to find the auto parts for your car, try original catalogs.</p>
                    <p><a class="btn btn-lg btn-primary" href="#originalcatalogs">Original Catalogs</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="bd-placeholder-img carousel-second-image h-100"></div>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Meet AutoPats Suppliers!</h1>
                    <p>You can try to find the auto parts you need by searching through our suppliers' parts.</p>
                    <p><a class="btn btn-lg btn-primary" href="#suppliers" role="button">Suppliers</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="bd-placeholder-img carousel-third-image h-100"></div>
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>Search through the auto parst!</h1>
                    <p>The search is made really simple so you can find the auto parts you need. Try searching through our catalog.</p>
                    <p><a class="btn btn-lg btn-primary" href="auto-parts" role="button">Find auto parts</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div id="originalcatalogs">
    <AutoParts.Web.Client.Public.Car.Components.SelectCarComponent></AutoParts.Web.Client.Public.Car.Components.SelectCarComponent>
</div>
<div id="suppliers">
    <AutoParts.Web.Client.Public.Supplier.Components.BrowseSuppliersComponent></AutoParts.Web.Client.Public.Supplier.Components.BrowseSuppliersComponent>
</div>
