@page "/auto-parts"

<div class="row">
    <div class="col-md-3">
        <AutoParts.Web.Client.Public.AutoPart.Components.AutoPartsFilterComponent></AutoParts.Web.Client.Public.AutoPart.Components.AutoPartsFilterComponent>
    </div>
    <div class="col-md-9">
        <AutoParts.Web.Client.Public.AutoPart.Components.AutoPartsComponent></AutoParts.Web.Client.Public.AutoPart.Components.AutoPartsComponent>
    </div>
</div>

@code {
}
