@inject Services.CarBrandService carBrandService
@inject Services.CarModelService carModelService

@using Protos;

<div class="my-4 mx-0 jumbotron row">
    @if (Loading)
    {
        <p class="font-italic">Loading...</p>
    }
    else if (SelectedCarBrand == null)
    {
        <SelectCarBrandComponent CarBrands="CarBrands" OnItemChosen="HandleCarBrandChosen"></SelectCarBrandComponent>
    }
    else
    {
        @foreach (var carModel in CarModels)
        {
            <img src="@carModel.ImageUrl"/>
            <h2>@carModel.Name</h2>
        }
    }
</div>

@code {
    private bool Loading { get; set; } = true;
    private CarBrand[] CarBrands { get; set; }
    private CarModel[] CarModels { get; set; }
    private CarBrand SelectedCarBrand { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Loading = true;

        CarBrands = await carBrandService.GetCarBrands();

        Loading = false;
    }

    private async Task HandleCarBrandChosen(CarBrand carBrand)
    {
        Loading = true;

        SelectedCarBrand = carBrand;

        CarModels = await carModelService.GetCarModels(carBrand.Id);

        Loading = false;
    }
}
